.logo {
    float: left;
    margin-right: 20px;
    padding-bottom: 15px;
    width: 120px;
}

.about {
    .post-title {
        padding-top: 20px;
    }
    .post-description {
        font-size: 20px;
    }
}

.researchers {
    padding: 10px 10px 10px 10px;
}

.researcher-profile {
    display: block;
    float: left;
    height: 300px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

    @media screen and (min-width: 676px) {
        height: 220px;
    }

    img {
        box-shadow: 2px 2px 1px grey;
        border-radius: 8px;
        float: center;
        object-fit: cover;
        height: 130px;
        width: 130px;
        margin-bottom: 5px;
    }

    ul.researcher-info {
        display: block;
        float: center;
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        width: 130px;

        a {
            color: $purple-color;
            &:hover {
                text-decoration: underline;
            }
        }

        span {
            font-weight: 400;
        }
    }
}



.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}