---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
	<p><h5>{{ page.description }}</h1></p>
  </header>

	{% assign sortedSemester = site.semesters | sort: 'seqeunce_id' | reverse %}
	{% for page in sortedSemester %}
		<h4>{{ page.semester }}</h4>
		<i>{{ page.schedule }}</i>

  <div class = "post-content">
	<table class="center" cellpadding = "3" STYLE="margin-top:10px;margin-bottom:20px;">
		<colgroup>
		<col width="15%" />
		<col width="55%" />
		<col width="20%" />
		<col width="10%" />
		</colgroup>
		<thead>
		<tr class="header">
		<th>Date</th>
		<th>Title</th>
		<th>Speaker/Discussant</th>
		<th>Other Links</th>
		</tr>
		</thead>
		<tbody>
				{% assign sorted_meetings = site.meetings | sort: 'date' | reverse %}
					{% for meeting_item in sorted_meetings %}
						{% if meeting_item.semester == page.semester %}
						<tr>
							<td>{{ meeting_item.date | date: "%e %B" }}</td>
							{% if meeting_item.paper_link %}
								<td><a href="{{ meeting_item.paper_link }}" target="_blank">{{ meeting_item.title }}</a></td>
							{% else %}
								<td>{{ meeting_item.title}}</td>
							{% endif %}	
							<td>{{ meeting_item.speaker }}</td>
							<td>{{ meeting_item.links }}</td>
						</tr>	
						{% endif %}
					{% endfor %} 	

			
		</tbody>
	</table>
  </div>
  {% endfor %} 

</div>
